<% provide(:title, "投稿した記事一覧") %>
<div class="show_user">
  <li><%= gravatar_for(@user, size: 120) %></li>
  <li><%= @user.name %>さん</li>
    <h3>投稿した記事一覧 (<%= @user.pages.count %>)</h3>
      <ol class="pages">
        <%= render @pages %>
      </ol>
      <div class="text-center">
        <%= will_paginate @pages, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
</div>
